.summary-box {
  background-color: #b2ebf2; /* Background color */
  color: #0097a7; /* Text color */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

/* Solid border */
hr.solid_green {
  border-top: 3px solid #40fbb3;
}

.two-columns {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
}

.column {
  margin-left: 20px; /* Adjust the margin as needed */
}

/* devanagari */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBpQeNVkqDOeTY.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBmQeNVkqDOeTY.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBoQeNVkqDO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}